@import "variables.scss";

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.buttons a {
  display: inline-block;
  margin: 5px;
  position: relative;
  font-size: 30px;
}

.buttons svg {
  color: #fff;
  position: absolute;
  top: 8px;
  left: 10px;
  transition: all 265ms ease-out;
  width: 25px;
  height: auto;
}

.buttons a {
  display: inline-block;
}

.buttons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, $btnColor, #ef488c);
  transition: all 265ms ease-out;
}

.buttons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.buttons a:hover svg {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  color: #ef488c;
  background: -webkit-linear-gradient(45deg, $btnColor, #ef488c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.ui.button {
  &.active {
    background: linear-gradient(45deg, $btnColor, #ef488b) !important;
    color: #fff !important;
  }

  &:not(.active) :hover {
    background-color: rgba(239, 72, 139, 0.5);
    color: #fff;
  }
}
