@font-face {
  font-family: "Ubisoft Sans";
  src: url("fonts/UbisoftSans-Regular.woff2") format("woff2"), url("fonts/UbisoftSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubisoft Sans";
  src: url("fonts/UbisoftSans-Bold.woff2") format("woff2"), url("fonts/UbisoftSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=fonts.css.map */