@import "variables.scss";
@import "fonts.scss";

html,
body,
#__next {
  min-height: 100%;
  min-width: 100%;
  color: $blanc !important;
  font-family: "Ubisoft Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 18px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#__next > div {
  padding: 0 !important;
}
main {
  padding: 1rem !important;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 2px #000;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

p {
  line-height: 1.5625rem;
}

#background-image {
  background-image: url(background_sp.webp);
  background-color: $noir;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  .flex-row {
    flex-direction: row;
  }

  .flex-col {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
