#profile-card {
  background-color: transparent;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: max-content;
  background-color: rgba(34, 40, 49, 0.5);
  box-shadow: rgba(0, 0, 0, 0.7);
  padding: 0px 10px;
}

#profile-card ul {
  padding: 0;
}

.card__name {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

.card__image {
  border-radius: 50%;
  box-shadow: 0 10px 50px #5e028a;
  margin: 10%;
  max-width: 90%;
  height: auto;
  border: 5px solid #272133;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.grid-container img {
  max-height: 80px;
  max-width: 150px;
  width: auto;
}

#ko-fi {
  border: 0px;
  background: linear-gradient(45deg, #5e028a, #ef488c);
  height: 36px;
  border-radius: 5px;
  transition: opacity 0.5s 0s;
}

#ko-fi:hover {
  opacity: 0.7;
}

.css-46bh2p-MuiCardContent-root:last-child {
  padding: 0;
}

.intro {
  padding-left: 1rem;
}

@media screen and (max-width: 1100px) {
  #profile-card {
    flex-direction: column;
    padding: 1rem;
  }
  .social {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #ko-fi {
    height: 30px;
  }
  .card__image {
    max-width: 50%;
  }
}/*# sourceMappingURL=intro.css.map */