.section {
  width: 95vw;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(1, 1, 1, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

p a {
  color: #ffff00 !important;
  text-decoration: none;
  background: linear-gradient(to right, #64c8c8, #64c8c8), linear-gradient(to right, #ff0000, #ff00b4, #0064c8);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
p a:hover {
  background-size: 0 2px, 100% 2px;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section-text {
  display: flex;
  flex-direction: column;
}

.pictures {
  width: 100%;
  align-items: center;
}

.ui.card {
  background-color: rgba(34, 40, 49, 0.5) !important;
  box-shadow: none !important;
}
.ui.card .description {
  color: #fff !important;
}

@media screen and (max-width: 1100px) {
  .section {
    max-width: 95vw;
  }
  .section-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pictures {
    flex-direction: column;
  }
}/*# sourceMappingURL=section.css.map */